---
layout: default
nav: 
  color: dark
  hover: accent
seo:
  hide-from-google: true
---

<section class="grid md:grid-cols-2">

  <!-- Image -->
  <div class="bg-image-style min-h-[100vh]" style="background-image: url(/uploads/images/manamovement-3.png); background-position: bottom;"></div>

  <!-- Contact Form -->
  <div class="flex items-center justify-center"> 
    {% include site-header.html %}
    
    <div class="my-20 md:my-0 md:mx-8">
      <h1 class="heading-md mb-8 text-feature">Contact</h1>

      <!-- Form -->
      {% include form-contact.html %}
    </div>

  </div>
</section>