---
layout: default
nav:
  color: light
  hover: accent
button-cta: 
  text: Apply Now
  url: https://manamei.com/ttc-apply
heading: 
  title: HōMM
  subtitle: Academy of Mana Movement
  description: An Educational Haven for the Art of Feminine Healing
testimonials:
  background_color: feature
  title: Mana Movement Testimonials
  testimonial:
    - testimonial_html: "HōMM is a space of community, resources, and practice- where women come to weave Mana Movement into everyday life. Whether you are just beginning your embodiment journey, or deepening your devotional path, HōMM meets you where you are, as you choose the rhythm, support, and guidance for your personal healing journey. Because coming HōMM is really about returning to the wisdom already within you."
---

<!-- Hero -->
<section class="section-video h-[95vh] flex items-center justify-center">
    {% include site-header.html %}
  
    <video autoplay muted loop playsinline poster class="bg-video">
      <source src="/uploads/video/manamovement-4.mp4" type="video/mp4">
      <p>Sorry, your browser doesn't support embedded videos</p> 
    </video>

    <div class="text-light text-center section-padding">
        <div>
            <h2 class="font-serif capitalize text-[9.5vw]">{{ page.heading.title }}</h2>
            <h3 class="heading-md -mt-4">{{ page.heading.subtitle }}</h3>
            <p class="max-w-2xl mx-auto text-xl mt-4">{{ page.heading.description }}</p>
        </div>
        <div class="flex justify-center">
          <img src="/uploads/icons/logo-light.svg" class="h-16 mt-4">
        </div>
    </div>
</section>

<!-- About -->
<section>

    <!-- Sub-Section 1 -->
    <div class="section-padding bg-image-style" style="background-image: url('/uploads/backgrounds/mana-movement-light.png');">
        <div class="lg:w-[55%]">
            <p class="heading-md text-feature">What makes a house… a home?</p>
            <p>Is it the walls that hold it together, the roof that protects it, or the furniture that fills the rooms?</p>
            <p>Or is it something more?</p>
            <p>Because beyond the structure and function, there is an essence.</p>
            <p>The smell of home-cooked food. The echo of laughter through the hallway. The deep breaths of restful sleep in the quiet night.</p>
            <p class="heading-md text-feature mt-12">What makes a house a home is the energy within it.</p>
            <p>The love and care of those who live inside. Movement creates warmth. Comfort creates safety. Intention creates the vision.</p>
        </div>
    </div>

    <!-- Sub-Section 2 -->
    <div class="section-padding bg-image-style text-lighter text-center" style="background-image: url('/uploads/images/manamovement-27.jpg');">
        <p class="heading-lg">Welcome to the House of Mana Movement</p>
        <p class="text-xl">A space where women come together in shared intention- for healing, embodiment, and expansion.</p>
    </div>

    <!-- Sub-Section 3 -->
    <div class="bg-light section-padding">
        <div class="lg:w-[85%]">
            <h2 class="font-serif text-xl mb-4 text-feature">HōMM is the Academy of Mana Movement, an educational haven for the Art of Feminine Healing.</h2>
            <p>A space of community, resources, and practice- where women come to weave Mana Movement into everyday life.</p>
            <p>Whether you are just beginning your embodiment journey, or deepening your devotional path, HōMM meets you where you are, as you choose the rhythm, support, and guidance for your personal healing journey.</p>
            <p>Because coming HōMM is really about returning to the wisdom already within you.</p>
            <p class="heading-lg mt-8 text-feature">Welcome HōMM</p>
        </div>
    </div>
</section>

<!-- Banner -->
<section class="bg-image-style section-padding min-h-[60vh]" style="background-image: url('/uploads/images/manamovement-6.JPEG'); background-position: 50% 78%;"></section>

<!-- Banner -->
<section class="section-padding bg-main text-lighter text-center">
    <p>HōMM is an Online Academy focused on providing women with a space, community, and resources to bring Mana Movement and the Feminine Healing Arts into a vital part of their lifestyle. A place for women where you are welcomed into this very experience of co-creating a safe space of Feminine Expression, creativity, and nourishment.</p>
</section>

<!-- Testimonials -->
<section class="section-padding bg-feature">
  <div class="testimonial-container">

    {% for item in page.testimonials %}
    <div class="testimonial-item text-center text-lighter">
      <h2 class="heading-md">Mana Movement Testimonials</h2>
      <p class="italic text-lg"><em>{{item.testimonial_html}}</em></p>
    </div>
    {% endfor %}
  </div>
</section>