---
layout: default
hero-banner: 
  heading: Mana Movement
  subtitle: This is a subtitle
  button: 
    show: true
    type: youtube
    text: Watch the video
    url: https://www.youtube.com/embed/5sEVM981_X0?si=_M_2yAQ24qp7b6Tc
  background-image: 
    image_path: /uploads/images/manamovement-2.JPG
    image_focus: 
about: 
  first-description_html: |
    <p>Mana Movement is an embodied movement method developed by Mana Mei. This simple yet profound practice flows through a series of guided movement sequences, focusing on spinal mobility, whole body fluidity, release, breath-body connection, and returning to the Feminine Pathways.</p>
    <p>Through cultivating sustained focus and presence with the feeling body, Mana Movement encourages harmonious reconnection to your physical body, awakens creative life force energy, and opens the pathway to somatic healing through the holistic trifecta of mindfulness meditation, physical activation, and spirit awakening.</p>
  second-description_html: |
    <p>The Mana Movement Practice is composed of simple, guided movement exercises, focused on the Feminine Paths of Movement- circles, spirals, and waves.</p>
    <p>Returning to these innate movement patterns with the intention of softening and opening will awaken the natural flow of Life Force Energy through the body, supporting you to feel a deep sense of clarity, peace, expansion, and a renewed sense of inspiration.</p>
    <p>Mana Movement is designed to suit all women, all bodies, at every stage of life and Feminine Rite of Passage.</p>
  image: 
    image_path: /uploads/images/manamovement-2.JPG
    image_focus: 
  button: 
    text: Bring Mana Movement to festivals
    url: 
banner: 
  description_html: |
    <p>Thousands of women around the world are already receiving the benefits of the Mana Movement Practice in their daily lives!</p>
  button: 
    text: Bring Mana Movement to festivals
    url: 
  background-image: 
    image_path: /uploads/images/manamovement-2.JPG
    image_focus: 
offerings: 
  heading: Ways to bring Mana Movement into your daily wellness routine
  description_html: |
    <p>This is an optional description, something that says that Mana Movement can be taught in different formats or something...just for the design. It isn't necessary.</p>
  offering: 
   - title: Online programs
     description: Dive into one of the Mana Movement Pre-recorded online Programs. There is a program to suit you at every stage of your journey. Each program features different sequences and intentions
     button: 
       text: 
       url: 
     image: 
       image_path: /uploads/images/manamovement-2.JPG
       image_focus: 
   - title: Mana Mei’s YouTube Channel
     description: Try Mana Movement out today through one of Mana Mei’s short YouTube Practices. Subscribe to stay up-to-date as new practices are launched.
     button: 
       text: Take me there
       url: https://www.youtube.com/@ManaMei
     image: 
       image_path: /uploads/images/manamovement-2.JPG
       image_focus: 
   - title: In-Person Experiences
     description: Be the first to know when Mana Mei’ is offering in-person Mana Movement classes and workshops by signing up for the Email Newsletter. Check the calendar for an up-to-date listing of all scheduled classes, workshops, and retreats.
     button: 
       text: Sign up for the newsletter
       url: 
     image: 
       image_path: /uploads/images/manamovement-2.JPG
       image_focus: 
testimonials: 
  - testimonial_html: |
      <p>I feel SO FREE, so nurtured, so present in my body. There is this awakening of feminine energy in me that has taken over. I am creating from this place, nurturing myself and others from this place and overall living from a place of deep awe and pleasure for life. I have fallen in love with this practice.</p>
  - testimonial_html: |
      <p>This work completely changed my life and brought me to find the missing pieces of so many parts of myself, and continues to be my go-to way to come home to myself, clear, align and embody.</p>
  - testimonial_html: |
      <p>I am so happy I have taken the leap, as this wonderful practice has helped me navigate my personal challenges with ease and embody a powerful feminine energy.</p>
  - testimonial_html: |
      <p>My main intention when I began my MANA Movement journey was to feel more open, comfortable, confident, and at ease in my own body—ultimately to trust myself on a deeper level. I wanted to break free of worrying about how others might perceive or judge me. And wow, so far the whole experience has already been about this—and so much more.</p>
  - testimonial_html: |
      <p>I encountered the powerful energy of MANA Movement a few months ago, and it has changed my life. Activating my vital energy every morning has become my power.</p>
  - testimonial_html: |
      <p>It feels right, it feels so natural. My mind is still and quiet. I feel grounded and quiet inside.</p>
  - testimonial_html: |
      <p>I am so grateful for this medicine and the way it weaves through me, supporting me to find ways to embrace all the parts of me that are unknown or I have disowned.</p>
  - testimonial_html: |
      <p>When I did the practice for the first time, I cried ... because it moved me a lot and evoked emotions. After the practice, I felt lightness, softness. I felt like energy, suppressed emotions and blocks came out with each exhalation. It's unbelievable how quickly I was able to go in and feel the change.</p>
  - testimonial_html: |
      <p>My energy is exploding! I feel so emotionally stable and safe. I react to things happening to me with ease and people seem to notice it and treat me differently..  or rather, it's me looking at things through different lenses. Life is just flowing…</p>
  - testimonial_html: |
      <p>I clearly see and feel the changes in my life and in my body. I see more fluidity in every parts of the every day life, professional, personal…It’s really amazing and magical !!! I feel more present, more grounded, more feminine, more aware, more confident, more a lot of things!!! I also have more creativity.</p>
gallery: 
 - image_path: /uploads/images/manamovement-2.JPG
 - image_path: /uploads/images/manamovement-2.JPG
 - image_path: /uploads/images/manamovement-2.JPG
 - image_path: /uploads/images/manamovement-2.JPG
 - image_path: /uploads/images/manamovement-2.JPG
 - image_path: /uploads/images/manamovement-2.JPG
 - image_path: /uploads/images/manamovement-2.JPG
 - image_path: /uploads/images/manamovement-2.JPG
 - image_path: /uploads/images/manamovement-2.JPG
 - image_path: /uploads/images/manamovement-2.JPG
 - image_path: /uploads/images/manamovement-2.JPG
 - image_path: /uploads/images/manamovement-2.JPG
 - image_path: /uploads/images/manamovement-2.JPG
sample: 
  heading: Try it for free
  description_html: |
    <p>In this 10 minute MANA Movement practice, you will experience a sense of energetic rejuvenation, a return to peace and clarity, a full body physical activation, energetic release, and awakened creativity.</p>
  button: 
    text: Bring Mana Movement to festivals
    url: 
  video-url: 
seo:
  title: Mana Movement
  description: Mana Movement is an embodied movement method developed by Mana Mei. This simple yet profound practice flows through a series of guided movement sequences, focusing on spinal mobility, whole body fluidity, release, breath-body connection, and returning to the Feminine Pathways.
  keywords: 
  social_image:
  hide-from-google: true
---

<!-- Hero Banner -->
<section
    class="p-10p bg-image-style bg-overlay min-h-[90vh] flex align-middle items-center text-center justify-center {{page.hero-banner.overlay_style}}"
    style="background-image: url('{{page.hero-banner.background_image}}'); background-position: {{page.hero-banner.image_focus}};">
    <div>
        <h2 class="">{{page.hero-banner.title}}</h2>
        <h3 class="">{{page.hero-banner.subtitle}}</h3>

        <!-- Video Button -->
        {% if page.hero-banner.button.show == true %}

        <button id="openModalBtnBanner" class="button cursor-pointer">{{page.hero-banner.button.text}}</button>

        <div id="videoModalBanner" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                {% if page.hero-banner.button.type == 'youtube' %}
                <!-- YouTube iframe -->
                <iframe class="w-[360px] h-[202.5px] md:w-[700px] md:h-[394px]" src="{{page.hero-banner.button.url}}" frameborder="0"
                    allowfullscreen></iframe>
                {% else %}
                <!-- Fallback for other video types -->
                <video controls>
                    <source src="{{page.hero-banner.button.url}}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                {% endif %}
            </div>
        </div>

        {% endif %}
    </div>
</section>

<!-- About Section -->
<section>

  <!-- First Section -->
  <div>
    <img src="/uploads/icons/manamovement-2.png" class="h-20">
    <div>
      {{ page.about.first-description_html }}
    </div>
  </div>

  <!-- Second Section -->
  <div class="grid grid-cols-3">

    <!-- Left Column / Image -->
    <div class="bg-image-style" style="background-image: url({{ page.about.image.image_path }}); background-position: {{ page.about.image.image_focus }};"></div>

    <!-- Right Column / Text -->
    <div class="col-span-2">
      <div>
        {{ page.about.second-description_html }}
      </div>
      <a href="{{ page.about.button.url }}" class="button">
        {{ page.about.button.text }}
      </a>
    </div>

  </div>

</section>


<!-- Banner -->
<section class="bg-image-style" style="background-image: url({{ page.banner.background-image.image_path }}); background-position: {{ page.banner.background-image.image_focus }};">

  <div>
    <div>
      {{ page.banner.description_html }}
    </div>
    <a href="{{ page.banner.button.url }}" class="button">
      {{ page.banner.button.text }}
    </a>
  </div>
</section>


<!-- Offerings -->
<section>
  <div>
    <h2>
      {{ page.offerings.heading }}
    </h2>
    <p>
      {{ page.offerings.description_html }}
    </p>
  </div>

  <div class="grid grid-cols-3">
    {% for item in page.offerings.offering %}
    <div>
      <div class="bg-image-style aspect-square" style="background-image: url({{ item.image.image_path }});"></div>
      <h3>
        {{ item.title }}
      </h3>
      <p>
        {{ item.description }}
      </p>
      <a href="{{ item.button.url }}" class="link">
        {{ item.button.text }}
      </a>
    </div>
    {% endfor %}
  </div>
  
</section>


<!-- Testimonials -->
<section class="">
  <div class="testimonial-container">

    {% for item in page.testimonials %}
    <div class="testimonial-item">
      <p class="text-center"><em>"{{item.testimonial_html}}"</em></p>
    </div>
    {% endfor %}
  </div>
</section>