/* ----------- Import Tailwind -----*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
/* josefin-sans: 100, 300, 400, 600 */
/* ltc-bodoni-175: 400 */

@font-face {
    font-family: 'inlander_smooth';
    src: url('/fonts/inlander_smooth-webfont.woff2') format('woff2'),
        url('/fonts/inlander_smooth-webfont.woff') format('woff');
    font-weight: bold;
    font-style: bold;
}

:root {
    --dark: #423634;
    --light: #F6EADB;
    --lighter: #F9F8F6;
    --main: #D5AAAA;
    --featured: #9E6365;
    --accent: #cd913c;
    --sans: "josefin-sans", sans-serif;
    --serif: "ltc-bodoni-175", serif;
}


/* ----------- Default Styles to apply to the whole project  --------- */

@layer base {

    html {
        @apply scroll-smooth
    }

    body {
        @apply font-sans font-[400] text-dark bg-lighter antialiased
    }

    p {
        @apply mb-4 last:mb-0
    }

}


/* ----------- ADDITIONAL COMPONENTS  --------- */

@layer components {
    /* Typography */
    
    .heading-lg {
        @apply font-serif capitalize text-3xl md:text-5xl
    }

    .heading-md {
        @apply font-serif capitalize text-2xl lg:text-3xl
    }

    .subheading {
        @apply font-serif uppercase text-xl tracking-wide
    }

    .fa-brands {
        @apply text-accent hover:transition hover:duration-500 hover:text-dark px-2 mb-2 text-2xl
    }

    /* Structure */
    .section-padding {
        @apply py-20 lg:py-10p px-8 lg:px-20
    }

    .x-padding {
        @apply px-8 lg:px-20
    }

    /* Buttons */
    .button {
        @apply bg-main text-lighter font-serif py-2 px-4 capitalize text-[1.2rem] tracking-wide inline-block mt-4 hover:transition hover:duration-500 hover:shadow-lg
    }

    .button-accent {
        @apply bg-accent/80 text-lighter font-serif py-2 px-4 capitalize text-[1.2rem] tracking-wide inline-block mt-4 hover:transition hover:duration-500 hover:shadow-lg
    }

    .button-lighter {
        @apply bg-lighter text-main font-serif py-2 px-4 capitalize text-[1.2rem] tracking-wide inline-block mt-4 hover:transition hover:duration-500 hover:shadow-lg
    }

    .button-light {
        @apply bg-light text-main font-serif py-2 px-4 capitalize text-[1.2rem] tracking-wide inline-block mt-4 hover:transition hover:duration-500 hover:shadow-lg
    }

    .link {
        @apply lowercase mb-2 border-b border-inherit hover:text-accent hover:border-accent hover:transition hover:duration-500
    }

    /* Overlays */
    .bg-overlay {
        position: relative;
    }

    .bg-overlay::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .bg-overlay>* {
        position: relative;
    }

    .bg-overlay.light::before {
        background-color: rgba(249, 248, 246, 0.7);

    }

    .bg-overlay.medium::before {
        background-color: rgba(249, 248, 246, 0.5);

    }

    .bg-overlay.dark::before {
        background-color: rgba(249, 248, 246, 0.3);

    }

    /* Images */
    .bg-image-style {
        @apply bg-cover bg-no-repeat bg-center
    }

    /* Forms */
    .focus-main {
        @apply focus:outline-none focus:ring-2 focus:ring-main
    }

    /* Video */
    .youtube-container {
        max-width: 50%;
    }

    .embed-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
    }

    .embed-container iframe,
    .embed-container object,
    .embed-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .bg-video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    .section-video {
        position: relative;
        height: 90vh;
        overflow: hidden;
    }

    .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        overflow: auto;
        /* Enable scrolling if the content is too tall */
    }

    .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 95vw;
        max-height: 95vh;
        width: auto;
    }

    .close {
        color: var(--light);
        font-size: 3.5rem;
        font-weight: lighter;
        position: absolute;
        top: 10px;
        right: 15px;
        cursor: pointer;
    }

    /* Make the video responsive */
    video {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    /* Video Modal Content (YouTube-style size) */
    .video-modal-content {
        @apply w-full max-h-[20vh] md:max-h-[32vh] lg:h-[60vh] mx-auto top-[50%] lg:top-[35%]
    }

    /* Slick */
    .slick-dots li button:before {
        color:white;
      }

      /* Mobile Menu */
    .mobile-button {
        position: fixed;
        top: 3.2vh;
        right: 2vh;
        z-index: 40;
        padding: 0.5rem;
    }

    .mobile-button span {
        width: 2rem;
        border: 0.5px solid var(--dark);
        background-color: var(--dark);
        display: block;
        border-radius: 22px;
        transition: 2s;
    }

    .mobile-button.active span {
        border-color: var(--dark);
        background-color: var(--dark);
    }

    .mobile-top,
    .mobile-bottom {
        position: absolute;
    }

    .mobile-top {
        top: -02px;
    }

    .mobile-bottom {
        bottom: -02px;
    }

    .mobile-button.active .mobile-top {
        border-color: var(--accent);
        position: absolute;
        top: 8px;
        transform: rotateZ(45deg);
    }

    .mobile-button.active .mobile-middle {
        /*   transform: rotateZ(270deg); */
        border-color: var(--accent);
        background-color: var(--accent);
    }

    .mobile-button.active .mobile-bottom {
        border-color: var(--accent);
        position: absolute;
        bottom: 8px;
        transform: rotateZ(-45deg);
    }

    .mobile-menu {
        display: flex;
        position: fixed;
        top: 0vh;
        left: 100vw;
        right: -100vw;
        bottom: 0vh;
        background-color: var(--main);
        padding: 5%;
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
        z-index: 20;
        transition: 1s;
        align-content: space-around;
        justify-content: space-around;
        flex-direction: column;
    }

    .mobile-menu.active {
        @apply left-0 md:left-[50%] right-0
    }

    .mobile-menu a {
        text-decoration: none;
        font-size: 1.25rem;
        font-weight: 400;
        color: var(--x-dark);
        display: block;
        padding: 0.5rem 1rem;
        text-align: center;
        white-space: nowrap;
        text-transform: uppercase;
    }

    .mobile-menu a:hover {
        color: var(--featured);
    }
      

}