---
layout: default
title: Mana Movement Teacher Training
nav:
  color: light
  hover: main
button-cta: 
  text: Join the Waitlist
  url: https://manamei.com/ttc-waitlist.html
hero-banner:
  title: Mana Movement Teacher Training
  description: 16-week Live Online Mana Movement Teacher Training
what:
  heading: What is Mana Movement?
  description_html: |
    <p>Mana Movement is an “all-in-one” embodied movement method developed by Mana Mei. This simple yet profound practice flows through a series of guided movement sequences, focusing on spinal mobility, whole body fluidity, release, breath-body connection, and  returning to the Feminine Pathways.</p>
    <p>Through cultivating sustained focus and presence with the feeling body, Mana Movement encourages harmonious reconnection to your physical body, awakens creative life force energy, and opens the pathway to somatic healing through the holistic trifecta of mindfulness meditation, physical activation, and spirit awakening.</p>
  video:
    thumbnail_image: /uploads/images/manamovement-30.jpg
    url: https://www.youtube.com/embed/pyxYOMNIbvY?si=4lAlcCtZJGdUNafI
who:
  heading: Who is this training for?
  description_html: |
    <p>This training is for women who have the desire to teach the Mana Movement Practice using the specific structure of the practice as designed by Mana Mei. This practice follows a series of specific, and carefully designed movement patterns and sequences that will create a powerful and successful experience of self-connection and physical and energetic activation through the entire body.</p>
banner-1: 
  heading: Join a global movement of women embodying freedom, joy, and purpose.
  background_image: /uploads/images/manamovement-25.JPG
prerequisites:
  heading: Training Prerequisites
  included_item_html:
   - Minimum 3-months of active and regular personal Mana Movement Practice
   - Personal experience with self-development, personal transformation, or embodiment work
   - Have completed at least TWO of the following offerings by Mana Mei:</li>
            <ul class="list-disc ml-4">
                <li>Mana Movement Foundations Course</li>
                <li>Mana Movement Full Course</li>
                <li>Mana Movement Maternity Course</li>
                <li>confiDance Course</li>
                <li>All YouTube Mana Movement Practices</li>
            </ul>
  option_2_html: |
    <span class="font-serif text-feature">OR</span> the Liberation Through Movement Mentorship Program
  description_html: |
    <p>Through successfully completing this training, you will have the experience, knowledge, and permission to teach Mana Movement online and in-person using the Mana Movement brand. This is the ONLY current training which allows you to use the Mana Movement name and specific structure of the practice.</p>
structure: 
  heading: Training Structure
  description_html: |
    <p>The Mana Movement Teacher Training is a 16-Week Live Online Program where you will be held in a container of support and accountability. You will have lifetime access to all training content and weekly live interaction with Mana Mei and other students in the training.</p>
  subheading: This training consists of…
  list_item: 
   - Extensive PDF Training Manual with Foundational Theory and detailed breakdown of all movement sequences
   - Lifetime access to all pre-recorded demo videos of all movements and sequences, Plus lifetime access to additional supplementary embodied movement meditations and practices (for personal use)
   - Weekly Live Group Transmissions with Mana Mei, covering in-depth conceptual theory of Mana Movement and Feminine Embodiment, Somatic Healing, Nervous System Regulation, The Art of Authentic Facilitation, Building a business the Feminine Way, Creating Trust & Authority as a leader, and much more…
   - Bi-weekly (every other week) Small Group Practice Teaching Pod calls lead by assigned Assistant Teacher who is a Certified Mana Movement Facilitator
   - 1-on-1 and small group support from Certified Mana Movement Teachers
   - Bi-weekly (every other week) Written and Video Homework Assignments
   - Exclusive TELEGRAM Group with all students and Assistant Teachers for Support, connection, inspiration, and accountability
   - Lifetime access to all training curriculum and Transmission recordings
   - This training is open to <strong>women all over the world</strong>! We are a global community and we do our best to accommodate all time zones in the scheduling of the training. No matter where you live, we can make this training work for you.
   - This training is designed with <strong>busy women</strong> in mind! Hey, we all have a lot going on in our lives… children and families, jobs and businesses, travel and self-care. This training has been thoughtfully crafted to fit into your life and everything else you have going on through a flexible “self study” aspect, plus availability of call replays and intentional “catch-up” integration weeks.
   - This training container will ensure you <strong>never feel alone</strong> along the journey! Through carefully designed rings of support, ranging from 1-on-1 to whole group connection, you will never feel alone in your training experience and you will always have someone to turn to whether it be for support, inspiration, accountability, or authentic connection!
after: 
  heading: As a certified Mana Movement Facilitator...
  description_html: |
    <p>You can teach in-person and virtual Mana Movement classes to a variety of audiences and client demographics, in English OR translated into other languages.</p>
    <p>You can integrate the Mana Movement Practice into 1-on-1 work with clients if you are a coach, therapist, yoga teacher, or space holder of any other modality You have permission to use the official Mana Movement logo and branding to promote your classes and gain students, supported by the increasing popularity of the Mana Movement practice world-wide Mana Movement is a perfect class to offer at spaces dedicated to movement, embodiment, dance, or meditation. It is a versatile offering that can supplement a variety of other practices and modalities of healing including yoga, ecstatic dance, breathwork, tantra, mindfulness meditation, other dance techniques, women’s circles, cacao ceremonies, and so much more!</p>
  featured_image: /uploads/images/manamovement-10.JPG
  truth:
    heading: The Secret of “the perfect practice” is spreading.
    subheading: Mana Movement is becoming exponentially more popular around the world…
    description_html: |
      <p>Which means there is a need for more Certified Mana Movement Teachers globally! This is an amazing opportunity to be at the forefront of a powerful movement. Every year, Mana Movement reaches and supports more and more women all around the world and my mission is to keep that going! Online is wonderful, but I would love to see MANA Movement classes happening in studios all over the world in many languages. AND YOU HAVE THE OPPORTUNITY TO HELP BRING THIS VISION TO LIFE! As well as to create opportunity and abundance for yourself and in your career.</p>
investment:
  heading: Investment
  subheading: 16-week live online Mana Movement Teacher Training
  description_html: |
    <p>Applications now Closed. <a href="https://manamei.com/ttc-waitlist.html" class="link">Join the waitlist</a> to be the first to know when enrollment opens for the next training.</p>
  price: 
    payment_plan: $1,000 USD
    pay_in_full: $3,800 USD
    alumni: $3,500 USD
  background_image: /uploads/backgrounds/mana-movement-2.png
banner_2:
  text: Join the waitlist to be the first to know when enrollment opens for the next training
  background_image: /uploads/images/manamovement-11.JPG
seo:
  hide-from-google: true
---

<!-- Hero Banner -->
<section class="bg-image-style h-[100vh] flex items-center justify-center" style="background-image: url('/uploads/images/manamovement-24.JPG')">
    {% include site-header.html %}
    <div class="text-center">
        <h1 class="heading-lg text-light mb-2">{{ page.hero-banner.title }}</h1>
        <p class="text-light text-2xl">{{ page.hero-banner.description }}</p>
    </div>
</section>


<!-- What is Mana Movement -->
<section class="grid grid-cols-2 lg:gap-20 section-padding">

    <!-- Left Column -->
    <div class="flex items-center justify-center">
        <div>
            <h2 class="heading-md text-feature mb-2">{{ page.what.heading }}</h2>
            <div>{{ page.what.description_html }}</div>
        </div>
    </div>

    <!-- Video -->
    <div class="bg-image-style aspect-video border border-main flex items-center justify-center" style="background-image: url('{{ page.what.video.thumbnail_image }}')">
        <img id="openModalBtnBanner" src="/uploads/icons/button-play.png" class="h-20 cursor-pointer">
    </div>

    <div id="videoModalBanner" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>

            <!-- YouTube iframe -->
            <iframe class="w-[360px] h-[202.5px] md:w-[700px] md:h-[394px]" src="{{ page.what.video.url }}" frameborder="0"
                  allowfullscreen></iframe>  
          </div>
      </div>
    
</section>


<!-- Who Mana Movement is For -->
<section class="bg-image-style grid grid-cols-3 section-padding" style="background-image: url('/uploads/backgrounds/mana-movement-1.png'); background-position: left;">
    <div></div>
    <div class="col-span-2 text-light">
        <h2 class="heading-md mb-4">{{ page.who.heading }}</h2>
        <div>{{ page.who.description_html }}</div>
    </div>
</section>


<!-- Banner -->
<section class="bg-image-style section-padding" style="background-image: url('{{ page.banner-1.background_image }}'); background-position: 50% 70%;">
    <h2 class="heading-md text-light lg:w-[70%]">{{ page.banner-1.heading }}</h2>
    {% include button-cta.html %}
</section>


<!-- Prerequisites -->
<section class="grid grid-cols-2 gap-8 lg:gap-20 section-padding bg-main text-light">

    <!-- Left Column -->
    <div class="flex items-center justify-center">
        <div class="italic">
        {{ page.prerequisites.description_html }}
        </div>
    </div>

    <!-- Right Column -->
    <div>
        <h2 class="heading-md mb-4">{{ page.prerequisites.heading }}</h2>

        {% for item in page.prerequisites.included_item_html %}
        <div class="flex gap-4 mb-4 last:mb-0 ml-2">
            <i class="fa-solid fa-check text-feature"></i>
            <div>{{ item }}</div>
        </div>
        {% endfor %}
        
        <div class="ml-2">
            {{ page.prerequisites.option_2_html }}
        </div>
    </div>
</section>


<!-- Training Structure -->
<section class="section-padding">
    <div class="text-center pb-16">
        <h2 class="heading-md text-feature mb-4">{{ page.structure.heading }}</h2>
        <div class="lg:w-[60%] mx-auto mb-4">
            {{ page.structure.description_html }}
        </div>
        <div class="flex justify-center">
            <img src="/uploads/icons/logo-dark.svg" class="h-16">
        </div>
    </div>

    <h3 class="font-bold text-lg mb-4">{{ page.structure.subheading }}</h3>
    <ul class="list-disc marker:text-main ml-4">
        {% for item in page.structure.list_item %}
        <li class="mb-4">{{ item }}</li>
        {% endfor %}
    </ul>
</section>


<!-- What You Can Do -->
<section>

    <!-- Top -->
    <div class="grid grid-cols-3 md:gap-20 mr-20 border-y border-main">

        <!-- Left Column -->
        <div class="bg-image-style min-h-[80vh]" style="background-image: url('{{ page.after.featured_image }}')"></div>

        <!-- Right Column -->
        <div class="col-span-2 flex items-center">
            <div>
                <h2 class="heading-md text-feature mb-4">{{ page.after.heading }}</h2>
            <div>
                {{ page.after.description_html }}
            </div>
            </div>
        </div>
    </div>

    <!-- Bottom -->
    <div class="section-padding lg:w-[80%]">
        <p class="heading-md text-feature">{{ page.after.truth.heading }}</p>
        <p class="font-bold">{{ page.after.truth.subheading }}</p>
        <div>
            {{ page.after.truth.description_html }}
        </div>
        {% include button-cta.html %}
    </div>
</section>


<!-- Investment -->
<section class="section-padding" style="background-image: url('{{ page.investment.background_image }}'); background-position: right;">
    <div class="text-light font-bold">
        <h2 class="heading-md mb-2">{{ page.investment.heading }}</h2>
    <p class="uppercase">{{ page.investment.subheading }}</p>
    <div class="mb-8">
        {{ page.investment.description_html }}
    </div>

    <h3 class="uppercase">4-Month Payment Plan</h3>
    <p>{{ page.investment.price.payment_plan }} per month</p>

    <h3 class="uppercase">Pay in Full</h3>
    <p>{{ page.investment.price.pay_in_full }}</p>

    <h3 class="uppercase text-feature">LTM Facilitator / Mentorship Graduate</h3>
    <p>{{ page.investment.price.alumni }}</p>
    </div>
</section>


<!-- Banner -->
<section class="section-padding bg-image-style" style="background-image: url('{{ page.banner_2.background_image }}');">
    <div class="text-center lg:w-[80%] mx-auto">
        <h2 class="heading-md text-light">{{ page.banner_2.text }}</h2>
        {% include button-cta.html %}
    </div>
</section>


<!-- Testimonials -->
<section class="grid grid-cols-4">

    <!-- Left Column -->
    <div>

    </div>

    <!-- Right Column -->
    <h2>Mana Movement Testimonials</h2>
    <div>

    </div>
</section>


<!-- CTA -->
<section>
    <div>
        <h2>Join the waitlist to be the first to know when enrollment opens for the next training.</h2>
        <a href="#" class="button">Join the Waitlist</a>
    </div>
</section>