<section class="bg-accent text-dark text-center py-4 px-8">
    <a href="https://manamei.com/telegram">
        <p class="mb-2">Feeling STUCK in the same limiting pattern, running in the same circle over and over again?</p>
        <p class="mb-4 font-serif">Join “breakthrough”, FREE Mana Movement Workshop to embody the change you desire.</p>
        <p class="uppercase font-sans">September 16th at 11am California / 8pm Central Europe</p>
        <span class="font-serif mb-2 border-b border-dark hover:text-main hover:border-main hover:transition hover:duration-500">Learn More</span>
    </a>
</section>