<form name="contact" method="post" data-netlify="true" action="/contact-thank-you.html" onSubmit="submit"
    data-netlify-honeypot="bot-field">
    <input class="hidden" name="bot-field">

    <div class="grid sm:grid-cols-2 gap-2 mb-4">
        <div>
            <input type="text" id="first-name" name="first-name" required placeholder="First Name"
                class="block border p-2 border-dark bg-transparent w-full placeholder:text-main rounded-none focus:outline-none focus:ring focus:ring-feature
">
        </div>

        <div>
            <input type="text" id="last-name" name="last-name" placeholder="Last Name"
                class="block border p-2 border-dark bg-transparent w-full placeholder:text-main rounded-none focus:outline-none focus:ring focus:ring-feature
">
        </div>
    </div>

    <div class="mb-4">
        <input type="email" id="email" name="email" required placeholder="Email"
            class="block border p-2 border-dark bg-transparent w-full placeholder:text-main rounded-none focus:outline-none focus:ring focus:ring-feature
 placeholdeer:font-sans">
    </div>

    <div>
        <textarea id="message" name="message" required rows="8" placeholder="Message"
            class="border border-dark bg-transparent w-full p-2 text-white placeholder:font-sans placeholder:text-main rounded-none focus:outline-none focus:ring focus:ring-feature
"></textarea>
    </div>

    <div class="flex justify-end">
        <button type="submit" class="button mt-4">Send</button>
    </div>
</form>