<section class="md:grid md:grid-cols-2 md:gap-16 section-padding bg-main text-lighter">

    <!-- Left Column / Text -->
    <div class="flex items-center mb-8 md:mb-0">
        <div>
            <h2 class="heading-md mb-4">
                {{ site.data.samples.mm-10m-practice.heading }}
            </h2>
            <div>
                {{ site.data.samples.mm-10m-practice.description_html }}
            </div>
            <a href="{{ site.data.samples.mm-10m-practice.button.url }}" class="button-light">
                {{ site.data.samples.mm-10m-practice.button.text }}
            </a>
        </div>
    </div>

    <!-- Right Column / Video -->
    <div class=”youtube-container”>
        <div class='embed-container'>
            <iframe src='{{ site.data.samples.mm-10m-practice.video-url }}' frameborder='0' allowfullscreen></iframe>
        </div>
    </div>
</section>